---
- name: Create node_exporter container
  docker_container:
    name: node_exporter
    #command:  --collectors.enabled
    hostname: "{{ node_exporter_hostname }}"
    image: prom/node-exporter
    published_ports:
      - 9100:9100
    restart_policy: always
